@media screen and (max-width: 668px) {
    .home-display-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .home-display-section h1,
    p,
    button {
        text-align: center;
    }

    .home-display-section .live-demo {
        width: 30%;
        margin: auto;
        margin-top: 10px;
    }
}